#joinform {
	width: 634px;
	float: left;
	margin-left: 8px;
}

#email {
	color: #0000CC;
	font-size: x-large;
	font-weight: normal;
}

h1 {
	font-size: x-large;
	height: 1em;
	margin-top: 20px;
	text-align: center;
	width: 610px;
}

.register {
	margin: 30px auto;
	padding: 8px;
	width: 500px;
}

.register table {
	height: 100px;
	width: 500px;
	margin-bottom: 2px;
	border: 1px solid #AAA;
	border-right: 2px solid #88A;
	border-bottom: 2px solid #88A;
}

.register td,.register input {
	font-family: Verdana;
	font-size: medium;
	border: 0;
}

.register input {
	border-bottom: 1px dotted #00A;
}

.register th {
	width: 110px;
	font-family: Verdana;
	font-size: medium;
}

.required {
	color: #D00;
}