.skinButton {
	width: 10px;
	height: 10px;
	cursor: pointer;
}

td.subject div {
	overflow: hidden;
	height: 15px;
	width: 410px;
	text-align: left;
}

td.writer div {
	overflow: hidden;
	height: 15px;
	width: 60px;
}

td.when {
	width: 90px;
}

.book {
	display: inline;
	width: 140px;
}

.bookimg {
	width: 138px;
	height: 184px;
}

p {
	margin-top: 4px;
	margin-bottom: 8px;
	word-break: break-all
}

.wrap {
	word-break: break-all
}

img {
	border: 0;
}

li a:link,a:visited {
	text-decoration: none;
}

form {
	margin: 0;
}

#taglist .bbs {
	display: inline;
	font-weight: bold;
	margin-right: 10px
}

#m {
	font-size: 9pt;
}

#m li {
	display: inline;
}

#m li.w {
	font-weight: bold;
}

#m li.c {
	display: block;
	margin-right: 10px
}

input.memoid {
	
}

input.memopw {
	width: 80px;
}

input.memodc {
	width: 80px;
}

li {
	margin: 2px;
}

#selectBbs {
	width: 50%;
	height: 12em;
	overflow: auto;
}

#formSection #keyword {
	width: 140px;
}