.bmtitle {
	width: 180px;
	text-align:center;
	margin: 4px;
	padding: 2px;
	border: solid 1px #D0D0D0;
	border-top: solid 1px #D0F0D0;
	border-left: solid 1px #D0F0D0;
}
.bmfav,.bmrct {
  width:180px;
  padding:0px;
}
.bmfav,.bmrct td{
  font-size:12px;
}
.bmfav_subj,.bmrct_subj {
	width: 110px;
  height: 14px;
  overflow:hidden;
}
.bmfav_cnt {
	width: 20px;
  height: 14px;
  overflow:hidden;
}
.bmfav_id {
	width: 50px;
  height: 14px;
  overflow:hidden;
}

.bmrct_id {
	width: 70px;
  height: 14px;
  overflow:hidden;
}
