.searchDaum {
	border-bottom: 1px solid;
	padding-bottom:8px
}
#r {
	list-style:none;
	margin: 0;
	padding: 0;
	width: 650px;
	overflow:auto;
}
#r li {
	margin:8px 2px 2px;
	border-bottom: 1px dashed;
}
#r a:hover {
	font-weight: bold;
}
#r p {
	font-size: 8pt;
	margin-top:6px;
	padding:6px 4px 0px 10px;
}
