@CHARSET "utf-8";
/* global */
* {
	font-family: Verdana, Arial, Gulim;
}
body {
	margin: 0;
	background-color:#FFFFFF;
	color:#000033;
	font-size: small;
}

img {
	border: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#top {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 50px;
	background-color: #1974ff
}

#logo {
	float: left;
	margin: 0;
	padding: 0;
	height: 50px;
}


#find {
	float: right;
	margin: -1px 5px 0 0;
	padding: 0;
}

.ln {
	clear: both;
	font-size: 6px;
	width: 100%;
	height: 6px;
	background-color: #0033CC;
	border-bottom: 1px solid #80A0FF
}

/* bbs */
.tablestyle {
	width: 662px;
	margin-left: 0;
}

.tablestyle td {
padding: 4px 0;
border-bottom: 1px solid #dddddd;
}


.tablestyle tr:first-child td {
border-top: 1px solid #dddddd;
}

th {
padding: 5px 10px;
font-size: 1.2em;
background-color: #c0d0ff;
}

th.subject {
	text-align: left;
}

.download img {
    margin-top: 12px;
    width: 64px;
    height: 64px;
}
.download ul {
    padding-left: 40px;
    margin: 12px 0;
}
.download li {
    list-style-type: decimal-leading-zero;
}

/* recent */
#memorecent {
    margin-left: 24px;
}

header h1 {
    text-align: center;
    background-color: skyblue;
    padding: 20px;
    margin: 4px;
}

#memorecent ul {
	clear: left;
	width: 600px;
	min-height: 86px;
	margin-bottom: 2px;
}

#memorecent img {
	float: left;
	margin: 0 8px 8px 0;
}

.box {
	border: 1px solid #bbb;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}

.box img {
	width: 77px;
	height: 77px;
}

#memorecent .writer {
	font-weight: bold;
}

#memorecent.memo {
	padding-bottom: 12px;
}

#bookList {
	text-align: center;
	margin: 20px 22px;
	border: 1px solid #D0E0F3;
	width: 600px;
}
#bookList h1 {
	margin: 8px 0 0;
	font-size: medium;
}

#bookList .cover {
	width: 90px;
	float: left;
	margin: 10px;
}

#bookList p {
	text-align: left;
	padding: 0 16px 20px;
}

.book img {
border: 1px solid #AAA;
border-left-color: #DDD;
border-top-color: #DDD;
cursor: pointer;
}

#banner_top {
	margin: 4px;
	text-align: center;
	list-style: none;
	padding: 0;
	overflow: hidden;
}

/* menu */
#menuSect {
	float: left;
	width: 125px;
	padding: 0 6px;
	padding-bottom: 400px;
	background: #ffffff;
}
.mainTable {
	float: left;
}
table {
	padding: 0;
	margin: 0;
	border-spacing: 0;
}


#bbslist {
	font-weight: normal;
	width: 120px;
}

#bbslistmenu {
	font-style: italic;
	margin-bottom: 0;
	padding-left: 4px;
}

.noticemenu {
	padding: 1px;
	border: 1px dotted #888;
	background-color: #FFFFF3;
}

#menuad {
	list-style : none;
	padding: 0;
	margin-top: 2px;
	text-align: center;
	border: 1px dotted #888;
}

#sponsorBanner img {
	margin-left: 16px;
	border: 1px solid #DDD;
	border-bottom-color: #BBB;
	border-right-color: #BBB;
}

/* view */
#bbstitle {
	font-size: midium;
	margin: 5px;
}

#permlink {
	color: #B0B0D0;
	font-size: x-small;
	text-align: right;
	width: 640px;
}

#centent {
	padding: 6px;
	margin-bottom: 20px;
	-webkit-text-size-adjust: 160%;
}

#centent img {
	max-width: 100%;
}

#centent a:link,#centent a:visited {
	text-decoration: underline;
}

.quote {
	border: 1px dotted;
	padding: 6px;
}

/* memo */
#m img {
	margin-right: 6px;
}

#wrap {
	float: left;
	background-color: #F0F0FF;
}

/* sub_panel */
#sub_panel {
	float: left;
	margin-left: 8px;
	margin-top: 50px;
	width: 170px;
}

#ad_banners {
	padding-top: 8px;
	text-align: center;
	border: 1px solid #0099B9;
}

#ad_banners img {
	border: 1px solid #0099B9;
	border-top: 1px solid #33BBDD;
	border-left: 1px solid #33BBDD;
	margin-top: 4px;
}

#ad_banners ul {
	padding: 0;
	list-style: none;
	margin-top: 2px;
}

#adinfo {
	background: skyBlue;
	text-align: center;
	padding: 0.6em 0;
	font-size: 2.0em;
}


#adinfo a:link,#adinfo a:visited,#adinfo a:hover,#adinfo a:active {
	color: #000;
}

.adapp {
	width: 150px;
	height: 150px;
	margin-bottom: 6px;
}
.adapp_title {
	text-align:left;
	margin: 5px 5px 2px;
}

.sidebar-title {
	display: block;
	margin: 17px 0 0;
	padding: 0;
}

#imaso_div {
	margin: 10px 0;
}

#twitter_update_list {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #0099B9;
	font-size: smaller;
	overflow: hidden;
	word-break: break-all;
}

#twitter_update_list a:hover {
	text-decoration: underline;
}

#twitter_update_list a,#twitter_update_list #content tr.hentry:hover a,#twitter_update_list body#profile #content div.hentry:hover a,#twitter_update_list #side .stats a:hover span.stats_count,#twitter_update_list #side div.user_icon a:hover,#twitter_update_list li.verified-profile a:hover,#twitter_update_list #side .promotion .definition strong
	{
	color: #0099B9;
}

#twitter_update_list li {
	margin-bottom: 2px;
}

/* footer */
#footer {
	text-align: right;
	padding-top: 18px;
	padding-right: 6px;
	border-top: 1px dotted #96c0ff;
	margin-left: 137px;
}

/*
* =editor_jquery.jsp
*/
div.wysiwyg {
	padding: 5px 0;
}

#form_div {
	width: 644px;
	float: left;
	margin-left: 8px;
}

#form_div dt {
	width: 80px;
	border: 0;
	border-bottom: 1px solid #888;
	display: inline-block;
	padding-right: 4px;
	text-align: right;
}

#form_div dd {
	display: inline-block;
	width: 500px;
	margin: 0;
}

#form_div .write {
	width: 500px;
	border: 1px solid #ddd;
	padding: 0;
	height: 20px;
	margin: 6px 0;
}

#form_div #content {
	width: 589px;
}

.form_write {
	margin: 0 auto;
	width: 600px;
}

#newsfeedList li:nth-child(even) {
	background: #F8F8FF;
}

#newsfeedList li {
    padding: 4px 0 4px 20px;
}
#newsfeedList li:first-child {
    padding-left: 10px;
}
#newsfeedList {
    width: 639px;
    margin-left: 3px;
    display: none;
}

#profile {
	padding: 6px;
}

.skinButton {
	width: 10px;
	height: 10px;
	cursor: pointer;
}

td.subject {
	text-align: left;
}
td.subject div {
	white-space: nowrap;
	overflow: hidden;
	max-width: 350px;
	text-overflow: ellipsis;
	text-align: left;
	height: 17px;
	padding-left: 4px;
	float: left;
}
td.subject .tiny {
	float: left;
	margin-left: 4px;
}

.tiny {
	font-size: xx-small;
}

td.writer div {
	overflow: hidden;
	width: 80px;
	height: 17px;
}

td.when {
	width: 50px;
}

p {
	margin-top: 4px;
	margin-bottom: 8px;
	word-break: break-all
}

.wrap {
	word-break: break-all
}

#facebooklike {
	border:none; 
	width:98%; 
	height:60px; 
	margin-left: 6px;
}

img {
	border: 0;
}

li a:link,a:visited {
	text-decoration: none;
	color: #f0f0f0;
}

form {
	margin: 0;
}

#taglist .bbs {
	display: inline;
	font-weight: bold;
	margin-right: 10px
}

#m {
}

#m li {
	display: inline;
}

#m li.w {
	font-weight: bold;
}

#m li.c {
	display: block;
	margin-right: 10px
}

input.memoid {
	
}
#bcomment {
	 width:640px;
	 height:80px;
	 margin-right: 4px;
}
input.memopw {
	width: 80px;
}

input.memodc {
	width: 80px;
}

#selectBbs {
	width: 50%;
	height: 12em;
	overflow: auto;
}

#formSection #keyword {
	width: 140px;
}
.download img {
    margin-top: 12px;
    width: 64px;
    height: 64px;
}
.download ul {
    padding-left: 40px;
    margin: 12px 0;
}
.download li {
    list-style-type: decimal-leading-zero;
}

.tablestyle {
	background-color:#F0F0FF
}
.tablestyle tr:nth-child(even) {
	background: #F8F8FF;
}
A:link      {color: #000000; text-decoration: none}
A:visited   {color: #333333; text-decoration: none}
A:active    {coration: underline}
A:hover     {border: 0; text-decoration: underline}
li a:hover,a:active {
	border-bottom: 1px dashed #F08080;
}

.td         {
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 1px;
            border-left-width: 0px;
            border-bottom-style: solid;
            border-color: #9FB2B0;
            }
.th         {background-color: #c2d3fc;}
.reply      {
	color:#000000;
}
.search     {color:#CB0000}

#taglist .row {display:block; margin:6px;border-bottom: 1 solid #888888;}
#m ul {
	border-bottom:1px dashed #202020;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:6px;
	padding:5px;
	}
#m li.d {margin-left:10px; font: smaller; color:#666}
#m li.e a {margin-left:10px; color:#600}

#formSection {
	width: 238px;
	height: 50px;
	margin: 1px;
	border: 1px solid #8080E0;
}

input, select, textarea {
	background-color:#FFFFFF;
	color:#000000;
	font-weight:bold;
}

#writeForm td {
	padding: 3px;
}

#subject,
#content {
	width: 100%;
}

#content {
	height: 300px;
}

.content img {
	margin: 3px;
}

