* {
	font-family: Verdana, Arial, Gulim;
}
.recent_first {
overflow: hidden;
width: 80px;
height: 17px;
}

#newsfeedList li:nth-child(even) {
	background: #F8F8FF;
}

#newsfeedList li {
    padding: 4px 0 4px 20px;
}
#newsfeedList li:first-child {
    padding-left: 10px;
}
#newsfeedList {
    width: 639px;
    margin-left: 3px;
    display: none;
}

.skinButton {
	width: 10px;
	height: 10px;
	cursor: pointer;
}

td.subject div {
	overflow: hidden;
	text-align: left;
	height: 17px;
	width: 350px;
}

td.writer div {
	overflow: hidden;
	width: 80px;
	height: 17px;
}

td.when {
	width: 50px;
}

p {
	margin-top: 4px;
	margin-bottom: 8px;
	word-break: break-all
}

.wrap {
	word-break: break-all
}

img {
	border: 0;
}

li a:link,a:visited {
	text-decoration: none;
}

form {
	margin: 0;
}

#taglist .bbs {
	display: inline;
	font-weight: bold;
	margin-right: 10px
}

#m {
}

#m li {
	display: inline;
}

#m li.w {
	font-weight: bold;
}

#m li.c {
	display: block;
	margin-right: 10px
}

input.memoid {
	
}

input.memopw {
	width: 80px;
}

input.memodc {
	width: 80px;
}

#selectBbs {
	width: 50%;
	height: 12em;
	overflow: auto;
}

#formSection #keyword {
	width: 140px;
}
.download img {
    margin-top: 12px;
    width: 64px;
    height: 64px;
}
.download ul {
    padding-left: 40px;
    margin: 12px 0;
}
.download li {
    list-style-type: decimal-leading-zero;
}
