<style>
<!--
.BtnImg {
	border-style:none;
	font-family: ±¼¸²;
	font-size: 9pt;
	width: 25px;
	height: 25px;
	background-color:#f0f0f0;
}

.SelectBar {
	border-top-style:none;
	font-family: ±¼¸²;
	font-size: 9pt;
	background-color:#f0f0f0;
}

.TextMenuBar {
	border-top-style:none;
	font-family: ±¼¸²;
	font-size: 9pt;
	background-color:#f0f0f0;
}
-->
</style>