@CHARSET "EUC-KR";

body {
	margin: 0;
	background: url(/images/okjspbg.gif);
}

img {
	border: 0;
}

#top {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 780px;
	height: 50px;
	background-color: #1974ff
}

#logo {
	float: left;
	margin: 0;
	padding: 0;
	height: 50px;
}


#find {
	float: right;
	margin: -1px 5px 0 0;
	padding: 0;
}

#navi {
	margin: 0pt;
	position: absolute;
	top: 34px;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	left: 450px;
}

.ln {
	clear: both;
	font-size: 6px;
	width: 100%;
	height: 6px;
	background-color: #0033CC;
	border-bottom: 1px solid #80A0FF
}

/* bbs */
.tablestyle {
	width: 642px;
}

/* recent */
#memorecent {
    margin-left: 24px;
}
#memorecent, #memorecent ul {
	padding: 0;
	list-style-type: none;
}

#memorecent ul {
	clear: left;
	width: 600px;
	min-height: 86px;
	margin-bottom: 2px;
}

#memorecent img {
	float: left;
	margin: 0 8px 8px 0;
}

.box {
	border: 1px solid #bbb;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}

#memorecent .writer {
	font-weight: bold;
}

#bookList {
	margin: 20px 8px;
	border: 1px solid #D0E0F3;
	width: 600px;
}

#bookList div {
	margin: 8px 2px
}

.book img {
border: 1px solid #AAA;
border-left-color: #DDD;
border-top-color: #DDD;
cursor: pointer;
}

#banner_top {
	margin: 4px;
	text-align: center;
	list-style: none;
	padding: 0;
	overflow: hidden;
}

#menuad {
	list-style : none;
	padding: 0;
	margin-top: 2px;
	border: 1px dotted #888;
}

/* menu */
#menuSect {
	width: 120px;
	margin: 0 5px 0 6px;
	float: left;
}

#bbslist {
	font-weight: normal;
	width: 120px;
}

#bbslistmenu {
	font-style: italic;
	margin-bottom: 0;
	padding-left: 4px;
}

.noticemenu {
	padding: 1px;
	border: 1px dotted #888;
	background-color: #FFFFF3;
}

/* view */
#bbstitle {
	font-size: midium;
	margin: 5px;
}

#permlink {
	color: #B0B0D0;
	font-size: x-small;
	text-align: right;
	width: 640px;
}

#centent {
	padding: 6px;
	margin-bottom: 20px;
	-webkit-text-size-adjust: 160%;
}

#centent a:link,#centent a:visited {
	text-decoration: underline;
}

.quote {
	border: 1px dotted;
	padding: 6px;
}

/* memo */
#m img {
	margin-right: 6px;
}

/* sub_panel */
#sub_panel {
	position: absolute;
	top: 62px;
	left: 790px;
	width: 160px;
}

#ad_banners {
	text-align: center;
	border: 1px solid #0099B9;
}

#ad_banners img {
	border: 1px solid #0099B9;
	border-top: 1px solid #33BBDD;
	border-left: 1px solid #33BBDD;
}

#ad_banners ul {
	margin: 4px 0 0;
	padding: 0;
	list-style: none;
}

#adinfo {
	background: skyBlue;
	text-align: center;
	padding: 0.6em 0;
	font-size: 2.0em;
}


#adinfo a:link,#adinfo a:visited,#adinfo a:hover,#adinfo a:active {
	color: #000;
}

.adapp {
	width: 150px;
	height: 150px;
	margin-bottom: 6px;
}

.sidebar-title {
	display: block;
	margin: 17px 0 0;
	padding: 0;
}

#imaso_div {
	margin: 10px 0;
}

#twitter_update_list {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #0099B9;
	font-size: smaller;
	overflow: hidden;
	word-break: break-all;
}

#twitter_update_list a:hover {
	text-decoration: underline;
}

#twitter_update_list a,#twitter_update_list #content tr.hentry:hover a,#twitter_update_list body#profile #content div.hentry:hover a,#twitter_update_list #side .stats a:hover span.stats_count,#twitter_update_list #side div.user_icon a:hover,#twitter_update_list li.verified-profile a:hover,#twitter_update_list #side .promotion .definition strong
	{
	color: #0099B9;
}

#twitter_update_list li {
	margin-bottom: 2px;
}

/* footer */
#footer {
	text-align: right;
	padding-top: 8px;
	border-top: 1px dotted #96c0ff;
}
