<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>kr.pe.okjsp.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>euc-kr</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>kr.pe.okjsp.DownloadServlet</servlet-class>
	</servlet>
	<!--
		cubrid 사용으로 더이상 사용하지 않습니다. 20091025 서영아빠 <servlet>
		<servlet-name>popdb</servlet-name>
		<servlet-class>kr.pe.okjsp.PopDb</servlet-class>
		<load-on-startup>1</load-on-startup> </servlet>
	-->
	<servlet>
		<display-name>PopBbsInfo</display-name>
		<servlet-name>PopBbsInfo</servlet-name>
		<servlet-class>kr.pe.okjsp.PopBbsInfoMapServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>okboard</servlet-name>
		<servlet-class>kr.pe.okjsp.ControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardadd</servlet-name>
		<servlet-class>kr.pe.okjsp.WriteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardmemo</servlet-name>
		<servlet-class>kr.pe.okjsp.MemoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardbookmark</servlet-name>
		<servlet-class>kr.pe.okjsp.BookmarkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardview</servlet-name>
		<servlet-class>kr.pe.okjsp.ViewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardreply</servlet-name>
		<servlet-class>kr.pe.okjsp.ReplyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardmodify</servlet-name>
		<servlet-class>kr.pe.okjsp.ModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboarddelete</servlet-name>
		<servlet-class>kr.pe.okjsp.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KCount</servlet-name>
		<servlet-class>kr.pe.kkaok.mycount.KCount</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tag</servlet-name>
		<servlet-class>kr.pe.okjsp.TagController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>seq</servlet-name>
		<servlet-class>kr.pe.okjsp.BbsController</servlet-class>
	</servlet>
	<servlet>
		<description>
    	프로필 처리</description>
		<display-name>ProfileHandler</display-name>
		<servlet-name>ProfileHandler</servlet-name>
		<servlet-class>kr.pe.okjsp.member.ProfileHandler</servlet-class>
	</servlet>
	<!--===========================mobile_START=========================  -->
	<servlet>
		<servlet-name>okboardaddmobile</servlet-name>
		<servlet-class>kr.pe.okjsp.mobile.MobileWriteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboarddeletemobile</servlet-name>
		<servlet-class>kr.pe.okjsp.mobile.MobileDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>okboardmemoaddmobile</servlet-name>
		<servlet-class>kr.pe.okjsp.mobile.MobileMemoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MemberController</display-name>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>kr.pe.okjsp.member.MemberController</servlet-class>
	</servlet>
	<!--===========================mobile_END=========================  -->
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PopBbsInfo</servlet-name>
		<url-pattern>/POPBBS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboard</servlet-name>
		<url-pattern>/bbs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardadd</servlet-name>
		<url-pattern>/write</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardmemo</servlet-name>
		<url-pattern>/jsp/memo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardbookmark</servlet-name>
		<url-pattern>/bookmark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardview</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardreply</servlet-name>
		<url-pattern>/reply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardmodify</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboarddelete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KCount</servlet-name>
		<url-pattern>/KCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tag</servlet-name>
		<url-pattern>/tag/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>seq</servlet-name>
		<url-pattern>/seq/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileHandler</servlet-name>
		<url-pattern>/profile/write</url-pattern>
	</servlet-mapping>
	<!--===========================mobile_START=========================  -->
	<servlet-mapping>
		<servlet-name>okboardaddmobile</servlet-name>
		<url-pattern>/writemobile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboardmemoaddmobile</servlet-name>
		<url-pattern>/memowritemobile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>okboarddeletemobile</servlet-name>
		<url-pattern>/deletemobile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	<!--===========================mobile_END=========================  -->
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/c-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/xml</taglib-uri>
			<taglib-location>/WEB-INF/tld/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/xml_rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/x-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt_rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/fmt-rt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql_rt</taglib-uri>
			<taglib-location>/WEB-INF/tld/sql-rt.tld</taglib-location>
		</taglib>
	</jsp-config>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>
